
input{
    margin: 2px;
    border:none;
    border-bottom: solid black 1px;
}


.form{
    display: flex;
    border: solid black 1px;
    flex-direction: row-reverse;
    background-image: url('../../../public/1.jpg');
    
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    background-position: center;
    /* align-items: center; */
    /* width:50vw; */
    height: 90vh;
    color: white;
    
    
}

.loginForm{
    flex-direction: row;

}



.fieldset{
    margin: 0px 0px ;
    display: flex;
    opacity:  0;
    flex-direction: column;
    /* border:none;  */
    /* align-content: stretch; */
    justify-content: center;
    align-items: flex-end;
    height: 85.7vh;
    width: 40vw;
    border-radius: 100% 0% 0% 100% / 49% 0% 100% 51% ;
    animation: formAnim 0.5s forwards ease-in;
    /* transition: visibility 5s ease-in; */
    
    backdrop-filter: blur(2px);
    
    
    
}

.loginField{
    border-radius: 0% 100% 100% 0% / 0% 48% 52% 100% ;
    align-items: flex-start;

}
    
    @keyframes formAnim{
   0%{
    opacity: 0;
   }
   50%{
    
    opacity: 0.5;
   }
    100%{
        opacity: 1;
        
    }
    
}

.content{
    display: flex;
    flex-direction: column;
    width:30vw;
    margin: 1vh 0px;
}



input{
    background: transparent;
}

.button{
    max-width: 20vw;
    overflow: auto;
    align-self: center;    
}

