body{
    /* font-size: 3.55vh; */
    margin : 0 0;
    box-sizing: border-box;
}




.navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    /* border: black solid 0.125em; */
    
    
    margin: 0px 0px;
    padding: 1.25em 0.1em 1.25em 0.625em;
    /* min-width: 98.65vw; */
    /* min-height: 5vh; */
    /* height: auto; */
    /* width:fit-content; */
    position: sticky;
    top: 0px;
    z-index: 10;

    background-color: rgba(53, 241, 179, 0.911);
}

.sideBar{
    
    width: min-content;
    min-height: 100vh;
    
    position: fixed;
    padding-top: 1.25em;
    padding-left: 0.625em;
    
    border: solid rgb(2, 2, 15) 0.125em;
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(5px);
    box-shadow: 10px 10px 20px rgba(23, 23, 58, 0.89);
    border-radius : 0em 1em 0em 1em;
    
    z-index: 1;
    
}




.sideBarElement{
    /* border-bottom  :solid grey 0.1em; */
    padding: 1em 0;
    width: min-content;
    
    min-width: 25vw;
    padding-left: 2em;
    padding-right: 1.3em;
    font-size: 1.3em;
    color: black;    
    
}

.sideBarElement:hover{
    /* opacity: 0.55; */
    background-color: rgba(233, 211, 211, 0.487);
    cursor: pointer;
    
}



.navbar span{
    cursor: pointer;
}


.firstContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


.firstChild{
    width: 40vw;
}

.image{
    /* max-width : 100px; */
    /* width: 10px; */
    display: block;
    width: 40vw;
    /* margin: 0 auto; */
}    

.variant21{
    /* font-size: 40px; */
    /* margin-left: 100px; */
    margin-top: 150px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 900px) {

    .firstContainer{

        /* background-color: red; */
        margin-bottom: 15vh;

    }

    .firstChild{
        padding: 0px;
    }

    .image{
        width: 50vw;
        padding: 4vw;
        padding-top: 5vh;
    }

    .variant2{
        font-size: 20px;
    }

    .variant5{
        font-size: 10px;
    }

    .variant21{
        font-size: 40px;
        margin-bottom: 15px;
    }

    .stack{
        flex-direction: column;
    }
    
}