
.card{
    /* display: inline-block; */
/*   
    width: 50vmax;
    height: auto;
    max-height: 50vmax;

    
    margin: 0.5em 2em;
    box-shadow: 2px 2px 20px; */
    /* border: dashed black 1px; */
    /* border-radius: 1em ; */

}

.cardContent{

    /* overflow: hidden; */
    /* max-height: 10vmax; */
    /* min-width: 10vw; */
    /* width: fit-content; */

}

.cardActionArea{
    
    /* width: 100%; */
    /* height: fit-content; */
    /* border : solid black 3px;Ṭ */
    /* display: flex; */
    /* flex-direction: column; */

    

}