
.card{
    display: inline-block;
    flex-direction: column;
    /* min-width: 40vw;
    min-height: 10vh; */
    justify-content: center;
    
    margin: 0.5em 2em;
    box-shadow: 2px 2px 20px;
    /* border: dashed black 1px; */
    /* border-radius: 1em ; */

}

.cardContent{

    /* overflow: hidden; */
    /* min-width: 40vw; */
    /* width: fit-content; */

}

.cardImg{
    /* width: fit-content;
    height: fit-content; */
    /* width: 40vw; */
    

}