.post{
    display: flex;
    flex-direction: column;
    align-items: center;
    border : solid black 1px;
    border-radius: 10px;
    padding : 10px;
    margin: 0px 5px;
    text-align: justify;
    box-shadow: 2px 10px 6px rgba(101, 115, 182, 0.842);
}


.comment{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px 5px;
    padding: 4px;
    border : solid black 1px;
    border-radius: 10px;

    box-shadow: 2px 10px 6px rgba(101, 115, 182, 0.842);

}

.cloudImage{
    width: 28vw;
}  

@media only screen and (max-width: 600px) {
    /* Styles for tablet devices */
    .cloudImage{
            width: 40vw;
  }  
    
}